<% content_for :title, "Drug Alternatives" %>

<h1><%= @drugToReplace.capitalize %> Drug Alternatives</h1>

<!-- TODO: add styling info for this div -->
<div id="intro">
Below are substitutes for <%= @drugToReplace.downcase %> with the indication
"<%= @groupName %>" that do not interact with any of the following drugs:
<ul>
	<% @consumables.each do |consumable| %>
	<li><%= consumable %></li>
	<% end %>
</ul>
</div>

<% if @alternatives.empty? %>
<h2>No substitutes found</h2>
<% else %>
<h2>Drug/Food Info</h2>
<table class = "table" cellpadding="0">
	<tr>
		<th>Name</th>
		<% if @isPhysician %>
		<th>Description</th>
		<% end %>
		<th>Indication</th>
		<th>External links</th>
	</tr>
	<% @alternatives.each do |alt| %>
	<% if alt.type == "Food" %>
	<tr>
		<td><%= alt.name %></td>
		<% if @isPhysician %>
		<td/>
		<% end %>
		<td/>
		<td/>
	</tr>
	<% else %>
	<tr>
		<td><%= alt.name %></td>
		<% if @isPhysician %>
		<td><%= alt.description.html_safe %></td>
		<% end %>
		<td><%= alt.indication_text.html_safe %></td>
		<% if @isPhysician %>
			<td>
				<li><%= link_to "Drugbank", alt.drugbank_url %></li>
				<li><%= link_to "MicroMedex", alt.micromedex_url %></li>
			</td>
		<% else %>
			<td>
				<li><%= link_to "WebMD", alt.web_md_url %></li>
				<li><%= link_to "Drugs.com", alt.drugs_com_url %></li>
			</td>
		<% end %>
	</tr>
	<% end %>
	<% end %>
</table>
<% end %>
