<% content_for :title, "Find Interactions" %>
<% if @isPhysician %>
	<h1>Physician Search Results</h1>
<% else %>
	<h1>Patient Search Results</h1>
<% end %>
<h2>Drug/Food Info</h2>
<table class = "table" cellpadding="0">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Indication</th>
		<th>External links</th>
	</tr>
	<% @consumables.each do |consumable| %>
	<% if consumable.type == "Food" %>
	<tr>
		<td>Food</td>
		<td><%= consumable.name %></td>
		<td/>
		<td/>
		<td/>
	</tr>
	<% else %>
	<tr>
		<td><%= consumable.name %></td>
		<td><%= consumable.description %></td>
		<td><%= consumable.indication_text %></td>
		<% if @isPhysician %>
			<td>
				<li><%= link_to "Drugbank", consumable.drugbank_url %></li>
				<li><%= link_to "MicroMedex", consumable.micromedex_url %></li>
			</td>
		<% else %>
			<td>
				<li><%= link_to "WebMD", consumable.web_md_url %></li>
				<li><%= link_to "Drugs.com", consumable.drugs_com_url %></li>
			</td>
		<% end %>
	</tr>
	<% end %>
	<% end %>
</table>
<br />

<% if @interactions.empty? %>
<h2>No interactions found</h2>
<% else %>
<h2>Interaction Info</h2>
<table class = "table" cellpadding="0">
	<tr>
		<th>Consumable A</th>
		<th>Consumable B</th>
		<th>Interaction</th>
	</tr>
	<% @interactions.each do |interaction| %>
	<tr>
		<td><%= interaction.consumable.name %></td>
		<td><%= interaction.interactant.name %></td>
		<% if @isPhysician %>
			<td><%= interaction.description %></td>
		<% else %>
			<!-- <td>interaction.simple_description</td> -->
			

			<td><%= interaction.description %></td>
		<% end %>
	</tr>
	<% end %>
</table>

<h2>Alternative Drug Search</h2>
  <form accept-charset="UTF-8" action="/alternatives" method="get">
    <label>Drug/food to replace</label>
    <input name="ids[]"  />
    <label>Indication to search for</label>
    <input name="ids[]" />
    <label></label>
    <%= submit_tag("Search") %>
  </form>
<% end %>


