<% content_for :title, "Find Interactions" %>
<% if @isPhysician %>
	<h1>Physician Search Results</h1>
<% else %>
	<h1>Patient Search Results</h1>
<% end %>
<h2>Drug/Food Info</h2>
<table class="table" cellpadding="0">
	<tr>
		<th>Name</th>
		<th>Search Term</th>
		<% if @isPhysician %>
		<th>Description</th>
		<% end %>
		<th>Indication</th>
		<th>External links</th>
	</tr>
	<% @consumables.each do |tuple| %>
		<% consumable = tuple[0] %>
		<% search_term = tuple[1] %>
	<% if consumable.type == "Food" %>
	<tr>
		<td><%= consumable.name %></td>
		<td><%= search_term %></td>
		<% if @isPhysician %>
		<td/>
		<% end %>
		<td/>
		<td/>
	</tr>
	<% else %>
	<tr>
		<td><%= consumable.name %></td>
		<td><%= search_term %></td>
		<% if @isPhysician %>
		<td><%= consumable.description.html_safe %></td>
		<% end %>
		<td><%= consumable.indication_text.html_safe %></td>
		<% if @isPhysician %>
			<td>
				<li><%= link_to "Drugbank", consumable.drugbank_url %></li>
				<li><%= link_to "MicroMedex", consumable.micromedex_url %></li>
			</td>
		<% else %>
			<td>
				<li><%= link_to "WebMD", consumable.web_md_url %></li>
				<li><%= link_to "Drugs.com", consumable.drugs_com_url %></li>
			</td>
		<% end %>
	</tr>
	<% end %>
	<% end %>
</table>
<br />

<% if @interactions.empty? %>
<h2>No drug interactions found</h2>
<% else %>
<h2>Drug-Drug Interactions</h2>
<table class="table" cellpadding="0">
	<tr>
		<th>Consumable A</th>
		<th>Consumable B</th>
		<th>Interaction</th>
	</tr>
	<% @interactions.each do |interaction| %>
	<tr>
		<td><%= interaction.consumable.name %></td>
		<td><%= interaction.interactant.name %></td>
		<% if @isPhysician %>
			<td><%= interaction.description %></td>
		<% else %>
			<td><%= interaction.simple_description %></td>
		<% end %>
	</tr>
	<% end %>
</table>
<% end %>

<% if @food_interactions.empty? %>
<h2>No food interactions found</h2>
<% else %>
<h2>Food-Drug Interactions</h2>
<table class="table" cellpadding="0">
	<tr>
		<th>Drug</th>
		<th>Food Item</th>
		<th>Interaction</th>
	</tr>
	<% @food_interactions.each do |interaction| %>
	<tr>
		<td><%= interaction.consumable.name %></td>
		<td><%= interaction.interactant.name %></td>
		<td><%= interaction.description %></td>
	</tr>
	<% end %>
</table>
<% end %>

<% if !@interactions.empty? %>
<h2>Alternative Drug Search</h2>
  <form accept-charset="UTF-8" action="/alternatives" method="get">
    <% if @isPhysician %>
		<input type="hidden" name="isPhysician" value="1">
	<% else %>
		<input type="hidden" name="isPhysician" value="0">
	<% end %>
  	<% @consumables.each do |tuple| %>
  	<input type="hidden" name="ids[]" value="<%= tuple[0].name %>"/>
  	<% end %>
    <label>Drug/food to replace</label>
    <select name="drugToReplace" id="replace">
    	<option value="" />
    	<% @conflicts.each do |conflict| %>
    	<option value="<%= conflict %>"><%= conflict %></option>
    	<% end %>
    </select>
    <label>Indication to search for</label>
    <select name="indication" id="indication">
    </select>

    
    <%= submit_tag("Search") %>
  </form>

<h2>Automated Interaction Resolver</h2>
	<form action="resolve" method="get">
		<% @interactions.each do |interaction| %>
		<input type="hidden" name="iid[]" value="<%= interaction.id %>"/>
		<% end %>
		<% @consumables.each do |tuple| %>
		<input type="hidden" name="cid[]" value="<%= tuple[0].id %>"/>
		<% end %>
		<%= submit_tag("Run") %>
	</form>
<% end %>

<script type="text/javascript">
//<![CDATA[
	new CategorySearch("replace", "indication", "/consumables/groupings?term=");
//]]>
</script>
