<% content_for :title, "Find Interactions" %>
<h1>Search Results</h1>

<h2>Drug/Food Info</h2>
<table class = "table" cellpadding="0">
	<tr>
		<th>Drugbank ID</th>
		<th>Name</th>
		<th>Description</th>
		<th>Indication</th>
		<th>External links</th>
	</tr>
	<% @consumables.each do |consumable| %>
	<% if consumable.type == "Food" %>
	<tr>
		<td>Food</td>
		<td><%= consumable.name %></td>
		<td/>
		<td/>
		<td/>
	</tr>
	<% else %>
	<tr>
		<td><%= consumable.drugbank_id %></td>
		<td><%= consumable.name %></td>
		<td><%= consumable.description %></td>
		<td><%= consumable.indication_text %></td>
		<td>
			<li><%= link_to "Drugbank", consumable.drugbank_url %></li>
			<li><%= link_to "MicroMedex", consumable.micromedex_url %></li>
			<li><%= link_to "Drugs.com", consumable.drugs_com_url %></li>
		</td>
	</tr>
	<% end %>
	<% end %>
</table>
<br />

<% if @interactions.empty? %>
<h2>No interactions found</h2>
<% else %>
<h2>Interaction Info</h2>
<table class = "table" cellpadding="0">
	<tr>
		<th>Consumable A</th>
		<th>Consumable B</th>
		<th>Interaction</th>
	</tr>
	<% @interactions.each do |interaction| %>
	<tr>
		<td><%= interaction.consumable.name %></td>
		<td><%= interaction.interactant.name %></td>
		<td><%= interaction.description %></td>
	</tr>
	<% end %>
</table>

<h2>Alternative Drug Search</h2>
  <form accept-charset="UTF-8" action="/findalternative" method="get">
    <label>Drug/food to replace</label>
    <input name="ids[]"  />
    <label>Indication to search for</label>
    <input name="ids[]" />
    <label></label>
    <%= submit_tag("Search") %>
  </form>
<% end %>


