<% content_for :title, "Interaction Resolution" %>
<h1>Interaction Resolution</h1>

<h2>Original Drug List</h2>
<ul>
	<% @consumables.each do |consumable| %>
	<li><%= consumable.name %></li>
	<% end %>
</ul>

<h2>New Drug List</h2>
<% if @solution.nil? %>
No solution found.
<% else %>
<table class="table" cellpadding="0">
	<tr>
		<th>Name</th>
		<th>Replaces</th>
		<th>Description</th>
		<th>Indication</th>
		<th>External links</th>
	</tr>
	<% @solution.each do |consumable, conflict| %>
	<% if consumable.type == "Food" %>
	<tr>
		<td><%= consumable.name %></td>
		<td/>
		<td/>
		<td/>
	</tr>
	<% else %>
	<tr>
		<td><%= consumable.name %></td>
		<td><%= conflict.nil? ? "N/A" : conflict.name %></td>
		<td><%= consumable.description.html_safe %></td>
		<td><%= consumable.indication_text.html_safe %></td>
		<td>
			<li><%= link_to "Drugbank", consumable.drugbank_url %></li>
			<li><%= link_to "MicroMedex", consumable.micromedex_url %></li>
		</td>
	</tr>
	<% end %>
	<% end %>
</table>
<% end %>

<h2>Original Drug-Drug Interactions</h2>
<table class="table" cellpadding="0">
	<tr>
		<th>Consumable A</th>
		<th>Consumable B</th>
	</tr>
	<% @interactions.each do |interaction| %>
	<tr>
		<td><%= interaction.consumable.name %></td>
		<td><%= interaction.interactant.name %></td>
	</tr>
	<% end %>
</table>

